<!DOCTYPE html>
<html lang="id">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Restaurant Apps</title>
    <link rel="icon" href="../public/images/icon.png">
    <link rel="manifest" href="manifest.json">
    <meta name="theme-color" content="#0595fc" />
    <link rel="apple-touch-startup-image" href="../public/images/icon96.png">
    <link rel="apple-touch-icon" href="../public/images/icon96.png">
    <script src="https://kit.fontawesome.com/259b037f1b.js" crossorigin="anonymous"></script>
</head>
<body>
    <a href="#" class="skip-link">Skip to content ?</a>
    <div class="menumob">
        <div class="iconmenu" id="menu"><a href="javascript:void(0)">&#9776;</a></div>
        <div class="logomob">Restaurant Apps</div>
        <div class="logomob">&nbsp;</div>
    </div>
    <nav id="drawer" class="navmob">
        <ul class="navlistmob">
            <li class="navitemsmob"><a href="/#">Home</a></li>
            <li class="navitemsmob"><a href="/#/favorite">Favorite</a></li>
            <li class="navitemsmob"><a target="_blank" href="https://www.linkedin.com/in/galih-tripambudi/">About Us</a></li>
        </ul>
    </nav>
    <nav class="nav">
        <a class="logo" href="">Restaurant Apps</a>
        <ul class="navlist">
            <li class="navitems"><a href="/#">Home</a></li>
            <li class="navitems"><a href="/#/favorite">Favorite</a></li>
            <li class="navitems"><a target="_blank" href="https://www.linkedin.com/in/galih-tripambudi/">About Us</a></li>
        </ul>
    </nav>
    <div class="img-wrapper-hero">
        <img src="./images/heros/hero-small.webp"
             srcset="./images/heros/hero-small.webp 320w, ./images/heros/hero-small.webp 800w, ./images/heros/hero-large.webp 1200w"
             sizes="80vw"
             alt="Hero Element">
        <div class="overlay-hero">
            <h1>Restaurant Apps</h1>
            <p class="herosubtitle">Find the best restaurants only on the best websites.</p>
        </div>
    </div>
    <main id="content" tabindex="0"></main>
    <footer>
        <p>Copyright © 2023 - Restaurant Apps</p>
    </footer>
</body>
</html>
